
__pycache__/
.pytest_cache/
.idea/
.env_config
*.py[cod]
env/

.Python
.coverage
.coverage.*
htmlcov/
.coveralls.yml
.cache
nosetests.xml
coverage.xml
*.cover

.python-version

# virtualenv
.venv
ENV/


